.t-c-1 {
  color: var(--c-1);
}
.t-c-2 {
  color: var(--c-2);
}
.t-c-3 {
  color: var(--c-3);
}
.t-c-4 {
  color: var(--c-4);
}
.t-c-5 {
  color: var(--c-5);
}
.t-c-6 {
  color: var(--c-6);
}
.t-c-7 {
  color: var(--c-7);
}
.t-c-8 {
  color: var(--c-8);
}
.t-c-9 {
  color: var(--c-9);
}
.t-c-10 {
  color: var(--c-10);
}
.t-c-red {
  color: var(--c-red);
}
.t-c-green {
  color: var(--c-green);
}
.t-c-blue {
  color: var(--c-blue);
}
.t-c-yellow {
  color: var(--c-yellow);
}

.t-fs-1 {
  font-size: var(--font-size-1);
}
.t-fs-2 {
  font-size: var(--font-size-2);
}
.t-fs-3 {
  font-size: var(--font-size-3);
}
.t-fs-4 {
  font-size: var(--font-size-4);
}
.t-fs-5 {
  font-size: var(--font-size-5);
}
.t-fs-6 {
  font-size: var(--font-size-6);
}
.t-fs-7 {
  font-size: var(--font-size-7);
}
.t-fs-8 {
  font-size: var(--font-size-8);
}

.t-fw-1 {
  font-weight: 100;
}
.t-fw-2 {
  font-weight: 200;
}
.t-fw-3 {
  font-weight: 300;
}
.t-fw-4 {
  font-weight: 400;
}
.t-fw-5 {
  font-weight: 500;
}
.t-fw-6 {
  font-weight: 600;
}
.t-fw-7 {
  font-weight: 700;
}
